### Some commands to view data frame in python using pandas :

**Functions with Parentheses :**\
When you use parentheses after a function name, you are calling that function. This means that the function will execute and return a result.

**For example :**

``` python code.
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Calling the 'head' function
result = df.head()  # This will return the first 5 rows of the DataFrame
print(result)
```
In this example, `df.head()` calls the `.head()` method on the DataFrame df, and it returns the first five rows of the DataFrame.

**Functions without Parentheses :**\
When you reference a function without parentheses, you are referring to the function itself, not calling it. This means you can pass it around as an object, assign it to a variable, or use it in other contexts without executing it. For example:

``` python code.
# Referencing the 'head' function without calling it
head_function = df.head  # This is a reference to the 'head' method, not a call
print(head_function)  # This will print the method object itself

# You can call it later
result = head_function()  # This will still return the first 5 rows of the DataFrame
print(result)
```
In this case, head_function is a reference to the `.head()` method of the DataFrame df, and it can be called later.

**Summary :**\
_**With Parentheses :**_\
You are calling the function, executing it, and getting a result.\
_**Without Parentheses :**_\
 You are referencing the function itself, allowing you to pass it around or call it later.\
This distinction is important in Python and applies to functions in general, not just in Pandas etc.

In [1]:
import pandas as pd
import seaborn as sns
df = pd.read_excel ('pandas_01_day6.xlsx')
df

    Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

**Check index :**

`.index` method are used to check the index of the data.

In [2]:
df.index

RangeIndex(start=0, stop=87, step=1)

**Check columns :**

`.columns` method are used to check the columns of the data.

In [3]:
df.columns

Index(['Height', 'Weight', 'Favourite Dish'], dtype='object')

**Describe function :**

Usually , the `.describe` function are used for numerical data. It is used to check our data summary.

In [4]:
df.describe ()

          Height      Weight
count  86.000000   87.000000
mean    5.543721   70.459770
std     0.336036   16.753899
min     5.000000   25.000000
25%     5.225000   60.000000
50%     5.600000   70.000000
75%     5.800000   80.000000
max     6.200000  125.000000

**Transport function :**

`.T` function are used to change rows into columns and columns into rows.

In [5]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
Height,5.8,6.2,5.9,5.9,5.9,5.3,5.6,5.9,5.1,5.4,...,5.5,5.11,5.3,5.4,5.5,5.4,5.9,5.4,6.2,5.1
Weight,101,92,62,95,55,59,50,76,78,68,...,85,72,62,55,52,55,75,61,68,96
Favourite Dish,Chicken Pulao,Biryani,Karahi Ghosht,Chicken Pulao,Chicken Pulao,Biryani,Pasta,Biryani,Biryani,Biryani,...,Biryani,Karahi Ghosht,Biryani,Pasta,Karahi Ghosht,Pasta,Karahi Ghosht,Biryani,Chicken Pulao,Biryani

**Sort index method :**

`.sort_index ()` function are used to sort the data based on the index and we can also sort the data in ascending order , descending order and other more things just pass the parameter in the function.

**Note :**

If we want to sort the data in descending or ascending order we just type `ascending=True` for ascending order and `ascending=False` for descending order. It cannot take `decending=True` **OR** `decending=False`.

***Example in the below :***

In [6]:
# Without parameter :

df.sort_index ()

# With parameter :

df.sort_index (ascending=False)

    Height  Weight Favourite Dish
86     5.1      96        Biryani
85     6.2      68  Chicken Pulao
84     5.4      61        Biryani
83     5.9      75  Karahi Ghosht
82     5.4      55          Pasta
..     ...     ...            ...
4      5.9      55  Chicken Pulao
3      5.9      95  Chicken Pulao
2      5.9      62  Karahi Ghosht
1      6.2      92        Biryani
0      5.8     101  Chicken Pulao

[87 rows x 3 columns]

**sort values method :**

`.sort_values ()` method are used to sort the data based on the values. It is little similar to the `.sort_index ()` method. But we can also sort the values of one column by using `by=` keyword. After `by=` keyword we enter the name of the column but first we need to type cast the column.

**Note :**

`by=` and `column_names` parameters are required for `.sort_values ()` and then `method` that you want to do.

***Example in the below :***

In [7]:
# With parameter :

df.sort_values (by='Weight' , ascending=False)

# by keyword use :

df.sort_values (by="Height")

    Height  Weight Favourite Dish
15     5.0      57        Biryani
26     5.0      25        Biryani
40     5.0      50  Chicken Pulao
35     5.0      31        Biryani
64     5.0      90        Biryani
..     ...     ...            ...
60     6.0      88        Biryani
12     6.1      78        Biryani
1      6.2      92        Biryani
85     6.2      68  Chicken Pulao
45     NaN      60    Chapel Kaba

[87 rows x 3 columns]

In [8]:
# Show data type.

df_1 = ((23 , 43 , 12 , 56 , 66) , (45 , 33 , 13 , 46 , 33) , (77 , 22 , 54 , 88 , 96))
type (df_1)

tuple

**Note :**

The data type `tuple` in the data frame are used to make `rows` of the data frame.

***Example in the below :***

In [9]:
# Make data frame using tuple.

df_2 = pd.DataFrame (df_1)
df_2

    0   1   2   3   4
0  23  43  12  56  66
1  45  33  13  46  33
2  77  22  54  88  96

**Note :**

The data type `set` are used to make `column` of the data frame.

We can use `nested_set` in a `set` however , we can use `nested_tuple` in a `set` but we cannot use `nested_list` and `nested_dictionary` in a `set`.

***Example in the below :***

In [10]:
# Show data type.

df_3 = {1 , 3 , 5 , 4 , 56}
type (df_3)

set

In [11]:
# Make data frame using set.

df_4 = pd.DataFrame (df_3)
df_4

    0
0   1
1   3
2   4
3   5
4  56

In [12]:
# Nested Tuple in a set.

df_5 = {(1, 2, 3, 4, 5) , (23 , 11 , 42 , 56 , 77)}
type (df_5)

set

In [13]:
# Make data frame using nested tuple in a set.

df_6 = pd.DataFrame (df_5)
df_6

    0   1   2   3   4
0  23  11  42  56  77
1   1   2   3   4   5

### **_More information are available in "pandas_library_tips_and_tricks_3.ipynb" file..._**