**Note :**\
Some steps of how to start the notebook are given below :
1. First write the purpose of the notebook at the top of the notebook.
2. Writter name.
3. Date.
4. Email.

# 1. Data :

Data is a collection of numbers and alphabets.
Data can be in the form of text, images, audio, or video.
It is used to produce information.\
**For Example :**

Height , Width , Length , Waights , Name , Address , and Father Name etc.

## 2. Data Frame :

Data Frame consists of columns , rows , variables , units and indexes.

**Note :**\
Some popular websites **OR** data base that provide us free data are given in the below :

1. Github.com
2. Kaggle.com
3. google datasearch.
4. faostats.com ( For agriculture data ).
5. Websites. ( We can scrape ( take / pull / snatch ) the data from any websites e.g youtube , twitter , and facebook etc ).
6. stats / Pakistan buro of statics.com ( Every country have their own statistics websites in which have country statistical information like population , agricultural statistics , poor people statistics , and rich people statistics etc ).

## 3. Types of data :
There are two types of data :
* Primary Data.
* Secondary Data.

### 1. Primary Data :

The data which are collected from the person to person **OR** Original data **OR** The data in which don't apply any statical function are called Primary Data.

**For Example :**\
The data collected from the person like their height , weight , age , gender , or favorite dish etc.

### 2. Secondary Data :

The data which are collected from any source **OR** The data in which any statical function are applied on the data are called Secondary Data.

**For Example :**\
The data collected any source like from internet , government , etc. All the data on the internet are Secondary Data.

## 4. Use of data science in verious fields :

The data science used in verious fields some are given below :
* Nadra. ( Nadra have many information regarding to people ).
* Crime detection. ( DNA , fingerprint detection or farensics ).
* Bussiness. ( Stock exchange data / Money data / ML Algorithms ).
* School / College / University. ( data base / data ).
* Research data base. ( Expert data scientist do research the data or publish that Analyze it or predict it and then publish the output. They mostly deals with primary data ).

# 5. Pandas Library : ( M.Imp ).

Pandas is used to import the data ( Secondary data ) from the computer ( After downloading the data ). It is mostly used to import the data from the computer.

# 6. Other libraries :

Some libraries have their own data sets for learning purposes like seaborn , scikit-learn library. These libraries have their own data sets for training purposes we just need to call them in python.

# 7. Import Pandas :

After `import` the pandas library first we need to remove the mistakes in our data or clear our data.

***Examples in the below :***

**Importing the Library :**

First we need to import the library using _import_ keyword.

In [1]:
# Pandas Library.

import pandas as pd

**Reading / Importing the data in python :**

After import the pandas library , we need to import the data using _pandas read funtions_ that are available in the pandas library. Example in the below :

In [2]:
df = pd.read_excel ("pandas_01_day6.xlsx")

**Call the function :**

After give the variable we can call / print them using the variable name. We don't need to call the variable using print function.

In [3]:
df

    Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

**Head of the file :**

The head of the file is the first 5 lines of the data frame. We can also increase the number of lines in header file by entering the parameter in the function. And after give the variable to the function like in the above function. We can also use pandas function with using the variable name. Example in the below :

In [4]:
# Without parameter :

df.head ()

# With parameter :

df.head (10)

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
5     5.3      59        Biryani
6     5.6      50          Pasta
7     5.9      76        Biryani
8     5.1      78        Biryani
9     5.4      68        Biryani

**Tail of the file :**

The tail of the file is the last 5 lines of the data frame. We can also increase the number of lines in tail by entering the parameter in the function. Example in the below :

In [5]:
# Without parameter :

df.tail ()

# With parameter :

df.tail (10)

    Height  Weight Favourite Dish
77    5.50      85        Biryani
78    5.11      72  Karahi Ghosht
79    5.30      62        Biryani
80    5.40      55          Pasta
81    5.50      52  Karahi Ghosht
82    5.40      55          Pasta
83    5.90      75  Karahi Ghosht
84    5.40      61        Biryani
85    6.20      68  Chicken Pulao
86    5.10      96        Biryani

**Show rows and columns :**

`.shape` shows the number of rows and columns of the data frame or file. It cannot take peranthesis `()` of this function. 

**syntax of the output :**\
(rows , columns)

In [6]:
df.shape

(87, 3)

**Data information :**

`.info ()` shows the data information. # This will print the summary information about the DataFrame.
and `.info` # This will print a reference to the info method, not the output of the method.

**Difference b/w them Summary :**

The `.info` is an attribute that points to the method, while `.info()` is the method call that executes the function and provides the DataFrame's information.

In [7]:
# Without peranthesis () :

df.info

# With peranthesis () :

df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          86 non-null     float64
 1   Weight          87 non-null     int64
 2   Favourite Dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

### Some commands to view data frame in python using pandas :

**Functions with Parentheses :**\
When you use parentheses after a function name, you are calling that function. This means that the function will execute and return a result.

**For example :**

``` python code.
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Calling the 'head' function
result = df.head()  # This will return the first 5 rows of the DataFrame
print(result)
```
In this example, df.head() calls the head() method on the DataFrame df, and it returns the first five rows of the DataFrame.

**Functions without Parentheses :**\
When you reference a function without parentheses, you are referring to the function itself, not calling it. This means you can pass it around as an object, assign it to a variable, or use it in other contexts without executing it. For example:

``` python code.
# Referencing the 'head' function without calling it
head_function = df.head  # This is a reference to the 'head' method, not a call
print(head_function)  # This will print the method object itself

# You can call it later
result = head_function()  # This will still return the first 5 rows of the DataFrame
print(result)
```
In this case, head_function is a reference to the head() method of the DataFrame df, and it can be called later.

**Summary :**\
_**With Parentheses :**_\
You are calling the function, executing it, and getting a result.\
_**Without Parentheses :**_\
 You are referencing the function itself, allowing you to pass it around or call it later.\
This distinction is important in Python and applies to functions in general, not just in Pandas etc.

In [8]:
import pandas as pd

df = pd.read_excel ("pandas_01_day6.xlsx")

**Check index :**

`.index` method are used to check the index of the data.

In [9]:
df.index

RangeIndex(start=0, stop=87, step=1)

**Check columns :**

`.columns` method are used to check the columns names and data type of the data.

In [10]:
df.columns

Index(['Height', 'Weight', 'Favourite Dish'], dtype='object')

**Describe function :**

Usually , the `.describe` function are used for numerical data. It is usually used to check our data summary.

In [11]:
df.describe ()

          Height      Weight
count  86.000000   87.000000
mean    5.543721   70.459770
std     0.336036   16.753899
min     5.000000   25.000000
25%     5.225000   60.000000
50%     5.600000   70.000000
75%     5.800000   80.000000
max     6.200000  125.000000

**Transport function :**

`.T` function are used to change rows into columns and columns into rows.

In [12]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
Height,5.8,6.2,5.9,5.9,5.9,5.3,5.6,5.9,5.1,5.4,...,5.5,5.11,5.3,5.4,5.5,5.4,5.9,5.4,6.2,5.1
Weight,101,92,62,95,55,59,50,76,78,68,...,85,72,62,55,52,55,75,61,68,96
Favourite Dish,Chicken Pulao,Biryani,Karahi Ghosht,Chicken Pulao,Chicken Pulao,Biryani,Pasta,Biryani,Biryani,Biryani,...,Biryani,Karahi Ghosht,Biryani,Pasta,Karahi Ghosht,Pasta,Karahi Ghosht,Biryani,Chicken Pulao,Biryani

**Sort index method :**

`.sort_index ()` function are used to sort the data based on the index and we can also sort the data in ascending order , descending order and other more things just pass the parameter in the function.

**Note :**

If we want to sort the data in descending or ascending order we just type `ascending=True` for ascending order and `ascending=False` for descending order. It cannot take `decending=True` **OR** `decending=False`.

***Example in the below :***

In [13]:
# Without parameter :

df.sort_index ()

# With parameter :

df.sort_index (ascending=False)

    Height  Weight Favourite Dish
86     5.1      96        Biryani
85     6.2      68  Chicken Pulao
84     5.4      61        Biryani
83     5.9      75  Karahi Ghosht
82     5.4      55          Pasta
..     ...     ...            ...
4      5.9      55  Chicken Pulao
3      5.9      95  Chicken Pulao
2      5.9      62  Karahi Ghosht
1      6.2      92        Biryani
0      5.8     101  Chicken Pulao

[87 rows x 3 columns]

**sort values method :**

`.sort_values ()` method are used to sort the data based on the values. It is little similar to the `.sort_index ()` method. But we can also sort the values of one column by using `by=` keyword. After `by=` keyword we enter the name of the column but first we need to type cast the column.

**Note :**

`by=` and `column_names` parameters are required for `.sort_values ()` and then `method` that you want to do.

***Example in the below :***

In [14]:
# With parameter :

df.sort_values (by='Weight' , ascending=False)

# by keyword use :

df.sort_values (by="Height")

    Height  Weight Favourite Dish
15     5.0      57        Biryani
26     5.0      25        Biryani
40     5.0      50  Chicken Pulao
35     5.0      31        Biryani
64     5.0      90        Biryani
..     ...     ...            ...
60     6.0      88        Biryani
12     6.1      78        Biryani
1      6.2      92        Biryani
85     6.2      68  Chicken Pulao
45     NaN      60    Chapel Kaba

[87 rows x 3 columns]

### **_More information are available in "pandas_import_export_2.ipynb" file..._**